arrow==1.2.3
attrs==22.2.0
Babel==2.11.0
certifi==2022.12.7
charset-normalizer==3.0.1
coverage==7.1.0
exceptiongroup==1.1.0
greenlet==2.0.2
ics==0.7.2
idna==3.4
iniconfig==2.0.0
packaging==23.0
pluggy==1.0.0
pyTelegramBotAPI==4.9.0
pytest==7.2.1
python-dateutil==2.8.2
pytz==2022.7.1
requests==2.28.2
six==1.16.0
SQLAlchemy==2.0.1
TatSu==5.8.3
tomli==2.0.1
typing_extensions==4.4.0
urllib3==1.26.14
